.bgDark {
    display: flex;
    flex-direction: column;
    background-color: #12002b;
}

.signInContent {
    box-sizing: border-box;
    background-color: white;
    width: 300px;
    margin: auto;
    padding: 2rem;
}

.signInIcon {
    font-size: 5rem;
}