.editContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    margin: auto;
}

.editForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 300px;

}

.editBtns {
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 175px;
}

@media (min-width: 568px) {
    .editContent {
        width: 600px;
    }

    .editForm {
        flex-direction: row;
        justify-content: space-between;
        align-self: center;
        width: 540px;
    }
}